.container_workout {
    background: url('../../images/fon-block4.gif');

}
.workout{
    background-color: white;
    margin: 0 8rem;
    padding: 1rem 0;
}
.workout_indent{
    padding: 1rem;
}

@media (max-width: 925px){
    .workout{
        margin: 0 5rem;

    }
}
@media (max-width: 625px){
    .workout{
        margin: 0 2rem;
    }
}