.homeText {
    background-color: white;
    padding: 0 50px;
    padding: 20px 70px;
}
.word_homeText{
    text-align: center;
    font-size: 30px;
    color:rgb(34, 120, 224);
}
.homeText p{
   line-height: 30px;
}
@media (max-width: 690px){
    .homeText{
        padding: 20px 30px;
    }
}
@media (max-width: 390px){
    .homeText{
        padding: 20px 10px;
        text-align: center;
    }
}