
body, html {
  height: 100%;
  width: 100%;
  /* min-width: 250px; */

}

.wrapper {
  display: grid;
  gap: 1px ;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    'header header header' 
    'main main main'   
    'footer footer footer'
  ;
}
.wrapper >* {
  min-width: 250px;
}
header {
  grid-area: header;
}
main {
  grid-area: main;  
}

footer {
  grid-area: footer;
}






