.homeTraining {
    background:url(../../../images/fon-block4.gif);
    padding: 1rem;  
}
.word_news {
    color:rgb(34, 120, 224);
    text-align: center;
    font-size: 40px;
    padding: 30px 0;
}

.container_homeTraining{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    justify-items: center;
    align-items: start;
    gap: 20px;
}
.training {
   padding: 0 10px;
   display: grid;
   justify-items: center
}

.training_img{
    width: 100%;
    max-width: 400px;
    height: 300px;
}
.data_training {
    padding: 20px 0;
}
.text_training {
    font-size: 30px;
    color:rgb(103, 109, 114);
    text-align: center;
    text-decoration: none;
}

.data_training svg{
    color: rgb(63, 118, 237);
    margin-right: 10px;
}


@media (max-width: 925px){
    .container_homeTraining{
        display: block;
    }
}

@media (max-width: 690px){
    .container_homeTraining{
        display: block;
    }
    .text_training {
        font-size: 20px;
      
    }
    
}
